idea/
.vscode/
*.swp
*~
.DS_Store
Thumbs.db
env
.env.*
!.env.example
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.vite/
backend/tmp/
backend/server
*.exe
*.out
backend/*.log
backend/air_build.log
backend/vendor/
postgres/node_modules/
postgres/*.log
postgres_data/
postgres_dev_data/
postgres_prod_data/
portainer_data/
uptime_kuma_data/
.task/
.meowg1k/**
